<!DOCTYPE html>
<html lang="pt-br">
<html>

<head>
  <style>
    * {margin: 0;padding: 0;text-decoration: none;box-sizing: border-box;}body {color: #807e7d;background: #f5f4f3;font-family: 'Roboto', sans-serif;}.container {margin: 0 auto;max-width: 40rem;}header {color: #fffcfa;padding: 2.5rem 4rem;background: #fe973a;border-radius: 0.5rem 0.5rem 0 0;}header,footer{width:100%;}header img{display: flex; margin-bottom: 2rem;}h1,h2{font-weight:700;line-height:1.2;}.body{padding:4rem;background:#fffcfa;}.content{padding-top: 2rem;font-weight: 500;line-height: 1.5;}a.button {display: block;margin: 3rem 0;padding: 0.75rem;color: #fffcfa;text-align: center;background: #fe973a;border-radius: 0.75rem;transition: background 0.2s ease 0s;}a.button:hover {background: #fe8923;}.content p+p{margin-top: 1rem;}.link,.email {color: #4761f2;font-size: 0.875rem;}.link:hover {/* color: #435ce6; */text-decoration: underline 2px;}footer {padding: 3rem 4rem;color: #1a1919;background: #ebe8e6;border-radius: 0 0 0.5rem 0.5rem;}
  </style>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet' />
</head>

<body>
  <main>
    <div class='container'>
      <header>
        <img src="https://i.imgur.com/NrFBCn8.png" alt="Logo" />
        <h1>Alteração de senha</h1>
      </header>
      <section class='body'>
        <h2>Olá, {{name}}</h2>
        <div class='content'>
          <p>Recentemente, uma solicitação de recuperação de senha foi realizada para sua conta (<span class='email'>{{email}}</span>). Se você não foi o autor, apenas descarte esse e-mail ou responda para nos informar.</p>
          <p>Para continuar com a recuperação de senha clique no botão abaixo para criar uma nova senha. Ah, esse link expira em 48h.</p>
          <a href={{link}} rel='noopener noreferrer' target='_blank' class='button'>Alterar Senha</a>
          <p>Se você estiver tendo problemas para clicar no botão de
            redefinição de senha, copie e cole a URL abaixo em seu navegador da web.</p>
          <p><a class='link' href={{link}} target='_blank' rel='noopener noreferrer'>{{link}}</a></p>
        </div>
      </section>
      <footer>
        <h2>Abraaaço! <br /> Equipe ToolManager
        </h2>
      </footer>
    </div>
  </main>
</body>

</html>