<!DOCTYPE html>
<html lang="pt-br">
<html>

<head>
  <style>
    * {margin: 0;padding: 0;text-decoration: none;box-sizing: border-box;}body {color: #807e7d;background: #f5f4f3;font-family: 'Roboto', sans-serif;}.container {margin: 0 auto;max-width: 40rem;}header {color: #fffcfa;padding: 2.5rem 4rem;background: #fe973a;border-radius: 0.5rem 0.5rem 0 0;}header,footer{width:100%;}header svg{display: block;margin-bottom: 2rem;}h1,h2{font-weight:700;line-height:1.2;}.body{padding:4rem;background:#fffcfa;}.content{padding-top: 2rem;font-weight: 500;line-height: 1.5;}.button {display: block;margin: 3rem 0;padding: 0.75rem;color: #fffcfa;text-align: center;background: #fe973a;border-radius: 0.75rem;transition: background 0.2s ease 0s;}.button:hover {background: #fe8923;}.content p+p{margin-top: 1rem;}.link,.email {color: #4761f2;font-size: 0.875rem;}.link:hover {/* color: #435ce6; */text-decoration: underline 2px;}footer {padding: 3rem 4rem;color: #1a1919;background: #ebe8e6;border-radius: 0 0 0.5rem 0.5rem;}
  </style>
  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap' rel='stylesheet' />
</head>

<body>
  <main>
    <div class='container'>
      <header>
        <svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'>
          <path d='M13.631,11.648,12.713,5.17a1.4,1.4,0,0,0-.761-1.056L4.013.15a1.4,1.4,0,0,0-1.62.262L.411,2.393A1.4,1.4,0,0,0,.15,4.013L4.116,11.94a1.4,1.4,0,0,0,1.056.761l6.477.926,8.317,8.317L13.114,28.8A9.819,9.819,0,0,0,.957,42.277a1.4,1.4,0,0,0,2.257.387l4.618-4.618,1.983,1.983L5.2,44.647A1.4,1.4,0,0,0,5.585,46.9,9.819,9.819,0,0,0,19.063,34.748L25.915,27.9l1.5,1.5a5.619,5.619,0,0,0,.866,6.814L38.288,46.215a5.609,5.609,0,1,0,7.927-7.927L36.206,28.279a5.619,5.619,0,0,0-6.815-.866l-1.5-1.5,6.851-6.851A9.819,9.819,0,0,0,46.9,5.588,1.4,1.4,0,0,0,44.646,5.2L40.029,9.816,38.046,7.833l4.618-4.618A1.4,1.4,0,0,0,42.277.957,9.819,9.819,0,0,0,28.8,13.114l-6.851,6.851ZM6.294,10.033,3.108,3.661l.553-.553,6.371,3.186.624,4.363ZM32.243,29.44a2.8,2.8,0,0,1,1.983.82L44.234,40.268a2.8,2.8,0,1,1-3.966,3.966L30.259,34.226a2.8,2.8,0,0,1,1.983-4.786ZM16.417,33.426a1.4,1.4,0,0,0-.274,1.6,7.014,7.014,0,0,1-7.32,9.965l3.966-3.966a1.4,1.4,0,0,0,0-1.983L8.824,35.071a1.4,1.4,0,0,0-1.983,0L2.875,39.036a7.014,7.014,0,0,1,9.964-7.321,1.4,1.4,0,0,0,1.6-.274l7.514-7.511,1.982,1.983ZM31.444,14.431a1.4,1.4,0,0,0,.274-1.6,7.014,7.014,0,0,1,7.318-9.961L35.071,6.841a1.4,1.4,0,0,0,0,1.983l3.965,3.965a1.4,1.4,0,0,0,1.983,0l3.968-3.965a7.014,7.014,0,0,1-9.964,7.321,1.4,1.4,0,0,0-1.6.274L25.913,23.93,23.93,21.947Z' fill='currentColor'></path>
        </svg>
        <h1>Alteração de senha</h1>
      </header>
      <section class='body'>
        <h2>Olá, {{name}}</h2>
        <div class='content'>
          <p>Recentemente, uma solicitação de recuperação de senha foi realizada para sua conta (<span class='email'>{{email}}</span>). Se você não foi o autor, apenas descarte esse e-mail ou responda para nos informar.</p>
          <p>Para continuar com a recuperação de senha clique no botão abaixo para criar uma nova senha. Ah, esse link expira em 48h.</p>
          <a href={{link}} rel='noopener noreferrer' target='_blank' class='button'>Alterar Senha</a>
          <p>Se você estiver tendo problemas para clicar no botão de
            redefinição de senha, copie e cole a URL abaixo em seu navegador da web.</p>
          <p><a class='link' href={{link}} target='_blank' rel='noopener noreferrer'>{{link}}</a></p>
        </div>
      </section>
      <footer>
        <h2>Abraaaço! <br /> Equipe ToolManager
        </h2>
      </footer>
    </div>
  </main>
</body>

</html>